.login {
  margin: 3.5rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #373b69;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
  position: relative;
}

.img {
  position: absolute;
  width: 100vw;
  height: 91vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
}

.site {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373b69;
  font-size: 1.5rem;
}

.name,
.date,
.email,
.button {
  margin-top: 1rem;
}

.name label,
.email label,
.date label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.name input,
.email input,
.date input {
  font: inherit;
  background-color: white;
  color: #373b69;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #373b69;
  border: 1px solid #373b69;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.button:hover {
  background-color: #22254b;
  border-color: #22254b;
}

.error {
  color: red;
  margin-top: 0.7rem;
  font-style: italic;
}

.shakeError {
  font-size: large;
}
