.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #373b69;
  color: #fff;
  gap: 2rem;
  padding: 1rem 3rem;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
}

.nav > li {
  color: inherit;
}

.nav > li:hover {
  color: #4a77f4;
}
