.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #373b69;
  color: #fff;
  padding: 0.5rem 2rem;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLinks > li {
  color: inherit;
  font-size: 1.1rem;
  margin: 0 0.3rem;
  padding: 0.5rem;
  list-style: none;
}

.nav > li:hover {
  color: #4a77f4;
}

.signup {
  border: 1px solid yellow;
  border-radius: 0.4rem;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 780px) {
  .brand {
    display: none;
  }
}
